<div>
  <h2>{{listTitle | async}}</h2>
  <form [formGroup]="addTodoForm" (ngSubmit)="addTodo$_Sink($event)">
    <div class="input-inline-bbox short">
      <input class="text-field" formControlName="addTodoName" type="text" placeholder="name" />
      <button class="button" type="submit" [disabled]="!addTodoForm.valid"><span class="fa fa-plus-square"></span></button>
    </div>
  </form>
  <ul class="listbox">
    <li *ngFor="let todo of todos | async" class="item-container">
      <label class="item checkbox" [class.completed]="todo.completed" (click)="toggleTodo$_Sink(todo.id); $event.stopPropagation()">
        <input type="checkbox" [ngModel]="todo.completed" (change)="toggleTodo$_Sink(todo.id); $event.stopPropagation()"/>
        {{todo.name}}
      </label>
      <button class="hover-action" (click)="deleteTodoComplete$_Sink(todo.id); $event.stopPropagation()"><span class="fa fa-trash"></span></button>
    </li>
  </ul>

</div>
